.section {
  &__header {
    height: 220px;
    display: flex;
    color: #5c4863;
    font-size: 3.5em;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    justify-content: center;
    text-transform: uppercase;
    background-color: #cfe5ed;
    border-bottom: 5px solid rgba(92, 72, 99, 0.2);
    & > h2 {
      margin-top: auto;
    }
  }

  &__title {
    &--name {
      color: #b81e6c;
      font-weight: 600;
      font-size: 37.5px;
      text-transform: capitalize;
    }
    &--type {
      color: #555b5e;
      font-weight: 500;
      font-size: 37.5px;
    }
  }
  &__subtitle {
    color: #333;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.2em;
    font-weight: 600;
  }

  &__description {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  &__parameters {
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;

    th {
      color: #707070;
      border-top: none;
      text-align: left;
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
    }
    th,
    td {
      padding: 0.5em 0.5em 0.5em 0;
    }
    tbody tr {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      .section__parameters--name,
      .section__parameters--type,
      .section__parameters--default {
        color: #dd5a66;
        font-family: monospace;
      }
    }
  }

  &__code-wrapper {
    cursor: pointer;
    width: fit-content;
    word-wrap: break-word;
    margin: 1.5rem 0;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1.5px 4px rgb(0 0 0 / 24%), 0 1.5px 6px rgb(0 0 0 / 12%);
    &--code {
      margin-top: -45px;
    }

    &.example {
      & > pre {
        height: auto;
      }
    }
    &.example--animation {
      & > pre {
        display: flex;
        min-width: 580px;
        min-height: 300px;
        justify-content: center;
        align-items: center;
        .demo-animation {
          width: 100px;
          height: 100px;
          background-color: #b81e6c;
          border-radius: 50%;
        }
      }
    }
    & > pre {
      height: 56px;
      padding: 1em;
      display: flex;
      font-size: 1em;
      overflow: hidden;
      line-height: 1.42;
      flex-direction: column;
      transition: height 400ms ease;

      &[data-type="variable"] {
        height: auto;
      }
      &[data-type="css"] {
        height: auto;
      }
      &[data-type="function"] {
        height: auto;
      }
      &[aria-expanded="false"] {
        & > .section__code-wrapper--title {
          padding-bottom: 20px;
          & span:nth-child(3) {
            position: relative;
            &::after {
              content: "{ ... }";
              right: -85px;
              color: #999;
              position: absolute;
              display: inline-block;
              transition: opacity 400ms ease;
            }
          }
        }
      }

      &[aria-expanded="true"] {
        & > .section__code-wrapper--title span:nth-child(3) {
          position: relative;
          &::after {
            content: "";
            opacity: 0;
            right: -85px;
            color: #999;
            position: absolute;
            display: inline-block;
          }
        }
      }
    }

    &--title {
      display: flex;
      & span:nth-child(1) {
        color: #07a;
        margin-right: 10px;
      }
      & span:nth-child(3) {
        color: #a67f59;
      }
      & span[data-wrapper="default"] {
        color: black;
      }
    }
  }

  &__require {
    font-size: 1rem;
    list-style: none;
    margin: 1rem 0;
    & span:nth-child(1) {
      color: #4d4d4d;
    }
    & span:nth-child(2) {
      color: #dd5a66;
    }
  }  
}


.introduction {
  h3{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: .7rem;
    color: #3b4042;
  }

  ul{
    list-style: inherit;
    margin: 0 0 3rem 3rem;

  }

}