@charset "UTF-8";
/*--------------------------------
	#RESET
--------------------------------*/
html,
body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
article,
aside,
details,
dialog,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary,
audio,
canvas,
video,
mark,
code,
kbd,
pre,
samp,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
strong,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
div {
  margin: 0;
  padding: 0;
  border: none;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 0px;
}

ul,
ol,
dl {
  list-style: none;
}

/*-----------------------------------
	#TAGS HTML5 BROWSER NO SUPPORT
-------------------------------------*/
article,
aside,
details,
dialog,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1.6rem;
}

/*-----------------------------------
	#LINKS
-------------------------------------*/
a {
  cursor: pointer;
}

a:visited {
  text-decoration: none;
}

/*-----------------------------------
	#LINKS COLOR ORIGINAL
-------------------------------------*/
a:hover {
  text-decoration: underline;
}

a:focus,
a:active {
  text-decoration: none;
}

/*-----------------------------------
	#HEADINGS, WITH AND WITHOUT LINK
-------------------------------------*/
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/*-----------------------------------
	#BUTTONS
-------------------------------------*/
button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

/*-----------------------------------
	#RESET TABLE
-------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=checkbox] {
  appearance: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --secondary_3:#cbdf90;
  --secondary_2:#8fad88;
  --secondary_1:#7f9c96;
  --primary_3:#9bc1db;
  --primary_2:#1483bb;
  --primary_1:#006699;
}

:root {
  --Helvetica--Neue--35:helvetica--Neue--35;
  --Helvetica--Neue--55:helvetica--Neue--55;
  --Lato-regular:lato-regular;
  --Gotham-italic:gotham-italic;
}

@font-face {
  font-family: "helvetica--Neue--35";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/helvetica--Neue--35.eot?") format("eot"), url("assets/fonts/helvetica--Neue--35.woff2") format("woff2"), url("assets/fonts/helvetica--Neue--35.woff") format("woff"), url("assets/fonts/helvetica--Neue--35.ttf") format("truetype"), url("assets/fonts/helvetica--Neue--35.svg#helvetica--Neue--35") format("svg");
}
@font-face {
  font-family: "helvetica--Neue--55";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/helvetica--Neue--55.eot?") format("eot"), url("assets/fonts/helvetica--Neue--55.woff2") format("woff2"), url("assets/fonts/helvetica--Neue--55.woff") format("woff"), url("assets/fonts/helvetica--Neue--55.ttf") format("truetype"), url("assets/fonts/helvetica--Neue--55.svg#helvetica--Neue--55") format("svg");
}
@font-face {
  font-family: "lato-regular";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/lato-regular.eot?") format("eot"), url("assets/fonts/lato-regular.woff2") format("woff2"), url("assets/fonts/lato-regular.woff") format("woff"), url("assets/fonts/lato-regular.ttf") format("truetype"), url("assets/fonts/lato-regular.svg#lato-regular") format("svg");
}
@font-face {
  font-family: "gotham-italic";
  font-style: italic;
  font-weight: 300;
  src: url("assets/fonts/gotham-italic.eot?") format("eot"), url("assets/fonts/gotham-italic.woff2") format("woff2"), url("assets/fonts/gotham-italic.woff") format("woff"), url("assets/fonts/gotham-italic.ttf") format("truetype"), url("assets/fonts/gotham-italic.svg#gotham-italic") format("svg");
}
@media only screen and (min-width: 360px) {
  .col-sm-1 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 25%;
    min-width: 25%;
    max-width: 25%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 50%;
    min-width: 50%;
    max-width: 50%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 75%;
    min-width: 75%;
    max-width: 75%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col-md-1 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 16.6666666667%;
    min-width: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-2 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 33.3333333333%;
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-3 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 50%;
    min-width: 50%;
    max-width: 50%;
  }

  .col-md-4 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 66.6666666667%;
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-5 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 83.3333333333%;
    min-width: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-6 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1440px) {
  .col-lg-1 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 8.3333333333%;
    min-width: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 16.6666666667%;
    min-width: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 25%;
    min-width: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 33.3333333333%;
    min-width: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 41.6666666667%;
    min-width: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 50%;
    min-width: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 58.3333333333%;
    min-width: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 66.6666666667%;
    min-width: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 75%;
    min-width: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 83.3333333333%;
    min-width: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 91.6666666667%;
    min-width: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    padding: 0 30px;
    flex: 0 0 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("assets/fonts//icomoon.eot");
  src: url("assets/fonts//icomoon.eot?#iefix") format("embedded-opentype"), url("assets/fonts//icomoon.woff2") format("woff2"), url("assets/fonts//icomoon.woff") format("woff"), url("assets/fonts//icomoon.ttf") format("truetype"), url("assets/fonts//icomoon.svg#icomoon") format("svg");
}
.icon {
  display: inline-block;
  font-family: "icomoon";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.icon-xs {
  font-size: 0.75em;
}

.icon-sm {
  font-size: 0.875em;
}

.icon-1x {
  font-size: 1em;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

.icon-6x {
  font-size: 6em;
}

.icon-7x {
  font-size: 7em;
}

.icon-8x {
  font-size: 8em;
}

.icon-9x {
  font-size: 9em;
}

.icon-10x {
  font-size: 10em;
}

.icon-fw {
  text-align: center;
  width: 1.25em;
}

.icon-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.icon-pull-left {
  float: left;
}

.icon-pull-right {
  float: right;
}

.icon.icon-pull-left {
  margin-right: 0.3em;
}

.icon.icon-pull-right {
  margin-left: 0.3em;
}

.icon-delete::before {
  content: "";
}

.icon-left::before {
  content: "";
}

.icon-next::before {
  content: "";
}

.icon-plus::before {
  content: "";
}

.icon-previous::before {
  content: "";
}

@media only screen and (min-width: 360px) {
  .mt-sm-1 {
    margin-top: 5px;
  }

  .mt-sm-2 {
    margin-top: 10px;
  }

  .mt-sm-3 {
    margin-top: 15px;
  }

  .mt-sm-4 {
    margin-top: 20px;
  }

  .mt-sm-5 {
    margin-top: 25px;
  }

  .mt-sm-6 {
    margin-top: 30px;
  }

  .mt-sm-7 {
    margin-top: 35px;
  }

  .mt-sm-8 {
    margin-top: 40px;
  }

  .mt-sm-9 {
    margin-top: 45px;
  }

  .mt-sm-10 {
    margin-top: 50px;
  }

  .mt-sm-11 {
    margin-top: 55px;
  }

  .mt-sm-12 {
    margin-top: 60px;
  }

  .mt-sm-13 {
    margin-top: 65px;
  }

  .mt-sm-14 {
    margin-top: 70px;
  }

  .mt-sm-15 {
    margin-top: 75px;
  }

  .mt-sm-16 {
    margin-top: 80px;
  }

  .mt-sm-17 {
    margin-top: 85px;
  }

  .mt-sm-18 {
    margin-top: 90px;
  }

  .mt-sm-19 {
    margin-top: 95px;
  }

  .mt-sm-20 {
    margin-top: 100px;
  }

  .mr-sm-1 {
    margin-right: 5px;
  }

  .mr-sm-2 {
    margin-right: 10px;
  }

  .mr-sm-3 {
    margin-right: 15px;
  }

  .mr-sm-4 {
    margin-right: 20px;
  }

  .mr-sm-5 {
    margin-right: 25px;
  }

  .mr-sm-6 {
    margin-right: 30px;
  }

  .mr-sm-7 {
    margin-right: 35px;
  }

  .mr-sm-8 {
    margin-right: 40px;
  }

  .mr-sm-9 {
    margin-right: 45px;
  }

  .mr-sm-10 {
    margin-right: 50px;
  }

  .mr-sm-11 {
    margin-right: 55px;
  }

  .mr-sm-12 {
    margin-right: 60px;
  }

  .mr-sm-13 {
    margin-right: 65px;
  }

  .mr-sm-14 {
    margin-right: 70px;
  }

  .mr-sm-15 {
    margin-right: 75px;
  }

  .mr-sm-16 {
    margin-right: 80px;
  }

  .mr-sm-17 {
    margin-right: 85px;
  }

  .mr-sm-18 {
    margin-right: 90px;
  }

  .mr-sm-19 {
    margin-right: 95px;
  }

  .mr-sm-20 {
    margin-right: 100px;
  }

  .mb-sm-1 {
    margin-bottom: 5px;
  }

  .mb-sm-2 {
    margin-bottom: 10px;
  }

  .mb-sm-3 {
    margin-bottom: 15px;
  }

  .mb-sm-4 {
    margin-bottom: 20px;
  }

  .mb-sm-5 {
    margin-bottom: 25px;
  }

  .mb-sm-6 {
    margin-bottom: 30px;
  }

  .mb-sm-7 {
    margin-bottom: 35px;
  }

  .mb-sm-8 {
    margin-bottom: 40px;
  }

  .mb-sm-9 {
    margin-bottom: 45px;
  }

  .mb-sm-10 {
    margin-bottom: 50px;
  }

  .mb-sm-11 {
    margin-bottom: 55px;
  }

  .mb-sm-12 {
    margin-bottom: 60px;
  }

  .mb-sm-13 {
    margin-bottom: 65px;
  }

  .mb-sm-14 {
    margin-bottom: 70px;
  }

  .mb-sm-15 {
    margin-bottom: 75px;
  }

  .mb-sm-16 {
    margin-bottom: 80px;
  }

  .mb-sm-17 {
    margin-bottom: 85px;
  }

  .mb-sm-18 {
    margin-bottom: 90px;
  }

  .mb-sm-19 {
    margin-bottom: 95px;
  }

  .mb-sm-20 {
    margin-bottom: 100px;
  }

  .ml-sm-1 {
    margin-left: 5px;
  }

  .ml-sm-2 {
    margin-left: 10px;
  }

  .ml-sm-3 {
    margin-left: 15px;
  }

  .ml-sm-4 {
    margin-left: 20px;
  }

  .ml-sm-5 {
    margin-left: 25px;
  }

  .ml-sm-6 {
    margin-left: 30px;
  }

  .ml-sm-7 {
    margin-left: 35px;
  }

  .ml-sm-8 {
    margin-left: 40px;
  }

  .ml-sm-9 {
    margin-left: 45px;
  }

  .ml-sm-10 {
    margin-left: 50px;
  }

  .ml-sm-11 {
    margin-left: 55px;
  }

  .ml-sm-12 {
    margin-left: 60px;
  }

  .ml-sm-13 {
    margin-left: 65px;
  }

  .ml-sm-14 {
    margin-left: 70px;
  }

  .ml-sm-15 {
    margin-left: 75px;
  }

  .ml-sm-16 {
    margin-left: 80px;
  }

  .ml-sm-17 {
    margin-left: 85px;
  }

  .ml-sm-18 {
    margin-left: 90px;
  }

  .ml-sm-19 {
    margin-left: 95px;
  }

  .ml-sm-20 {
    margin-left: 100px;
  }

  .pt-sm-1 {
    padding-top: 5px;
  }

  .pt-sm-2 {
    padding-top: 10px;
  }

  .pt-sm-3 {
    padding-top: 15px;
  }

  .pt-sm-4 {
    padding-top: 20px;
  }

  .pt-sm-5 {
    padding-top: 25px;
  }

  .pt-sm-6 {
    padding-top: 30px;
  }

  .pt-sm-7 {
    padding-top: 35px;
  }

  .pt-sm-8 {
    padding-top: 40px;
  }

  .pt-sm-9 {
    padding-top: 45px;
  }

  .pt-sm-10 {
    padding-top: 50px;
  }

  .pt-sm-11 {
    padding-top: 55px;
  }

  .pt-sm-12 {
    padding-top: 60px;
  }

  .pt-sm-13 {
    padding-top: 65px;
  }

  .pt-sm-14 {
    padding-top: 70px;
  }

  .pt-sm-15 {
    padding-top: 75px;
  }

  .pt-sm-16 {
    padding-top: 80px;
  }

  .pt-sm-17 {
    padding-top: 85px;
  }

  .pt-sm-18 {
    padding-top: 90px;
  }

  .pt-sm-19 {
    padding-top: 95px;
  }

  .pt-sm-20 {
    padding-top: 100px;
  }

  .pr-sm-1 {
    padding-right: 5px;
  }

  .pr-sm-2 {
    padding-right: 10px;
  }

  .pr-sm-3 {
    padding-right: 15px;
  }

  .pr-sm-4 {
    padding-right: 20px;
  }

  .pr-sm-5 {
    padding-right: 25px;
  }

  .pr-sm-6 {
    padding-right: 30px;
  }

  .pr-sm-7 {
    padding-right: 35px;
  }

  .pr-sm-8 {
    padding-right: 40px;
  }

  .pr-sm-9 {
    padding-right: 45px;
  }

  .pr-sm-10 {
    padding-right: 50px;
  }

  .pr-sm-11 {
    padding-right: 55px;
  }

  .pr-sm-12 {
    padding-right: 60px;
  }

  .pr-sm-13 {
    padding-right: 65px;
  }

  .pr-sm-14 {
    padding-right: 70px;
  }

  .pr-sm-15 {
    padding-right: 75px;
  }

  .pr-sm-16 {
    padding-right: 80px;
  }

  .pr-sm-17 {
    padding-right: 85px;
  }

  .pr-sm-18 {
    padding-right: 90px;
  }

  .pr-sm-19 {
    padding-right: 95px;
  }

  .pr-sm-20 {
    padding-right: 100px;
  }

  .pb-sm-1 {
    padding-bottom: 5px;
  }

  .pb-sm-2 {
    padding-bottom: 10px;
  }

  .pb-sm-3 {
    padding-bottom: 15px;
  }

  .pb-sm-4 {
    padding-bottom: 20px;
  }

  .pb-sm-5 {
    padding-bottom: 25px;
  }

  .pb-sm-6 {
    padding-bottom: 30px;
  }

  .pb-sm-7 {
    padding-bottom: 35px;
  }

  .pb-sm-8 {
    padding-bottom: 40px;
  }

  .pb-sm-9 {
    padding-bottom: 45px;
  }

  .pb-sm-10 {
    padding-bottom: 50px;
  }

  .pb-sm-11 {
    padding-bottom: 55px;
  }

  .pb-sm-12 {
    padding-bottom: 60px;
  }

  .pb-sm-13 {
    padding-bottom: 65px;
  }

  .pb-sm-14 {
    padding-bottom: 70px;
  }

  .pb-sm-15 {
    padding-bottom: 75px;
  }

  .pb-sm-16 {
    padding-bottom: 80px;
  }

  .pb-sm-17 {
    padding-bottom: 85px;
  }

  .pb-sm-18 {
    padding-bottom: 90px;
  }

  .pb-sm-19 {
    padding-bottom: 95px;
  }

  .pb-sm-20 {
    padding-bottom: 100px;
  }

  .pl-sm-1 {
    padding-left: 5px;
  }

  .pl-sm-2 {
    padding-left: 10px;
  }

  .pl-sm-3 {
    padding-left: 15px;
  }

  .pl-sm-4 {
    padding-left: 20px;
  }

  .pl-sm-5 {
    padding-left: 25px;
  }

  .pl-sm-6 {
    padding-left: 30px;
  }

  .pl-sm-7 {
    padding-left: 35px;
  }

  .pl-sm-8 {
    padding-left: 40px;
  }

  .pl-sm-9 {
    padding-left: 45px;
  }

  .pl-sm-10 {
    padding-left: 50px;
  }

  .pl-sm-11 {
    padding-left: 55px;
  }

  .pl-sm-12 {
    padding-left: 60px;
  }

  .pl-sm-13 {
    padding-left: 65px;
  }

  .pl-sm-14 {
    padding-left: 70px;
  }

  .pl-sm-15 {
    padding-left: 75px;
  }

  .pl-sm-16 {
    padding-left: 80px;
  }

  .pl-sm-17 {
    padding-left: 85px;
  }

  .pl-sm-18 {
    padding-left: 90px;
  }

  .pl-sm-19 {
    padding-left: 95px;
  }

  .pl-sm-20 {
    padding-left: 100px;
  }
}
@media only screen and (min-width: 768px) {
  .mt-md-1 {
    margin-top: 5px;
  }

  .mt-md-2 {
    margin-top: 10px;
  }

  .mt-md-3 {
    margin-top: 15px;
  }

  .mt-md-4 {
    margin-top: 20px;
  }

  .mt-md-5 {
    margin-top: 25px;
  }

  .mt-md-6 {
    margin-top: 30px;
  }

  .mt-md-7 {
    margin-top: 35px;
  }

  .mt-md-8 {
    margin-top: 40px;
  }

  .mt-md-9 {
    margin-top: 45px;
  }

  .mt-md-10 {
    margin-top: 50px;
  }

  .mt-md-11 {
    margin-top: 55px;
  }

  .mt-md-12 {
    margin-top: 60px;
  }

  .mt-md-13 {
    margin-top: 65px;
  }

  .mt-md-14 {
    margin-top: 70px;
  }

  .mt-md-15 {
    margin-top: 75px;
  }

  .mt-md-16 {
    margin-top: 80px;
  }

  .mt-md-17 {
    margin-top: 85px;
  }

  .mt-md-18 {
    margin-top: 90px;
  }

  .mt-md-19 {
    margin-top: 95px;
  }

  .mt-md-20 {
    margin-top: 100px;
  }

  .mr-md-1 {
    margin-right: 5px;
  }

  .mr-md-2 {
    margin-right: 10px;
  }

  .mr-md-3 {
    margin-right: 15px;
  }

  .mr-md-4 {
    margin-right: 20px;
  }

  .mr-md-5 {
    margin-right: 25px;
  }

  .mr-md-6 {
    margin-right: 30px;
  }

  .mr-md-7 {
    margin-right: 35px;
  }

  .mr-md-8 {
    margin-right: 40px;
  }

  .mr-md-9 {
    margin-right: 45px;
  }

  .mr-md-10 {
    margin-right: 50px;
  }

  .mr-md-11 {
    margin-right: 55px;
  }

  .mr-md-12 {
    margin-right: 60px;
  }

  .mr-md-13 {
    margin-right: 65px;
  }

  .mr-md-14 {
    margin-right: 70px;
  }

  .mr-md-15 {
    margin-right: 75px;
  }

  .mr-md-16 {
    margin-right: 80px;
  }

  .mr-md-17 {
    margin-right: 85px;
  }

  .mr-md-18 {
    margin-right: 90px;
  }

  .mr-md-19 {
    margin-right: 95px;
  }

  .mr-md-20 {
    margin-right: 100px;
  }

  .mb-md-1 {
    margin-bottom: 5px;
  }

  .mb-md-2 {
    margin-bottom: 10px;
  }

  .mb-md-3 {
    margin-bottom: 15px;
  }

  .mb-md-4 {
    margin-bottom: 20px;
  }

  .mb-md-5 {
    margin-bottom: 25px;
  }

  .mb-md-6 {
    margin-bottom: 30px;
  }

  .mb-md-7 {
    margin-bottom: 35px;
  }

  .mb-md-8 {
    margin-bottom: 40px;
  }

  .mb-md-9 {
    margin-bottom: 45px;
  }

  .mb-md-10 {
    margin-bottom: 50px;
  }

  .mb-md-11 {
    margin-bottom: 55px;
  }

  .mb-md-12 {
    margin-bottom: 60px;
  }

  .mb-md-13 {
    margin-bottom: 65px;
  }

  .mb-md-14 {
    margin-bottom: 70px;
  }

  .mb-md-15 {
    margin-bottom: 75px;
  }

  .mb-md-16 {
    margin-bottom: 80px;
  }

  .mb-md-17 {
    margin-bottom: 85px;
  }

  .mb-md-18 {
    margin-bottom: 90px;
  }

  .mb-md-19 {
    margin-bottom: 95px;
  }

  .mb-md-20 {
    margin-bottom: 100px;
  }

  .ml-md-1 {
    margin-left: 5px;
  }

  .ml-md-2 {
    margin-left: 10px;
  }

  .ml-md-3 {
    margin-left: 15px;
  }

  .ml-md-4 {
    margin-left: 20px;
  }

  .ml-md-5 {
    margin-left: 25px;
  }

  .ml-md-6 {
    margin-left: 30px;
  }

  .ml-md-7 {
    margin-left: 35px;
  }

  .ml-md-8 {
    margin-left: 40px;
  }

  .ml-md-9 {
    margin-left: 45px;
  }

  .ml-md-10 {
    margin-left: 50px;
  }

  .ml-md-11 {
    margin-left: 55px;
  }

  .ml-md-12 {
    margin-left: 60px;
  }

  .ml-md-13 {
    margin-left: 65px;
  }

  .ml-md-14 {
    margin-left: 70px;
  }

  .ml-md-15 {
    margin-left: 75px;
  }

  .ml-md-16 {
    margin-left: 80px;
  }

  .ml-md-17 {
    margin-left: 85px;
  }

  .ml-md-18 {
    margin-left: 90px;
  }

  .ml-md-19 {
    margin-left: 95px;
  }

  .ml-md-20 {
    margin-left: 100px;
  }

  .pt-md-1 {
    padding-top: 5px;
  }

  .pt-md-2 {
    padding-top: 10px;
  }

  .pt-md-3 {
    padding-top: 15px;
  }

  .pt-md-4 {
    padding-top: 20px;
  }

  .pt-md-5 {
    padding-top: 25px;
  }

  .pt-md-6 {
    padding-top: 30px;
  }

  .pt-md-7 {
    padding-top: 35px;
  }

  .pt-md-8 {
    padding-top: 40px;
  }

  .pt-md-9 {
    padding-top: 45px;
  }

  .pt-md-10 {
    padding-top: 50px;
  }

  .pt-md-11 {
    padding-top: 55px;
  }

  .pt-md-12 {
    padding-top: 60px;
  }

  .pt-md-13 {
    padding-top: 65px;
  }

  .pt-md-14 {
    padding-top: 70px;
  }

  .pt-md-15 {
    padding-top: 75px;
  }

  .pt-md-16 {
    padding-top: 80px;
  }

  .pt-md-17 {
    padding-top: 85px;
  }

  .pt-md-18 {
    padding-top: 90px;
  }

  .pt-md-19 {
    padding-top: 95px;
  }

  .pt-md-20 {
    padding-top: 100px;
  }

  .pr-md-1 {
    padding-right: 5px;
  }

  .pr-md-2 {
    padding-right: 10px;
  }

  .pr-md-3 {
    padding-right: 15px;
  }

  .pr-md-4 {
    padding-right: 20px;
  }

  .pr-md-5 {
    padding-right: 25px;
  }

  .pr-md-6 {
    padding-right: 30px;
  }

  .pr-md-7 {
    padding-right: 35px;
  }

  .pr-md-8 {
    padding-right: 40px;
  }

  .pr-md-9 {
    padding-right: 45px;
  }

  .pr-md-10 {
    padding-right: 50px;
  }

  .pr-md-11 {
    padding-right: 55px;
  }

  .pr-md-12 {
    padding-right: 60px;
  }

  .pr-md-13 {
    padding-right: 65px;
  }

  .pr-md-14 {
    padding-right: 70px;
  }

  .pr-md-15 {
    padding-right: 75px;
  }

  .pr-md-16 {
    padding-right: 80px;
  }

  .pr-md-17 {
    padding-right: 85px;
  }

  .pr-md-18 {
    padding-right: 90px;
  }

  .pr-md-19 {
    padding-right: 95px;
  }

  .pr-md-20 {
    padding-right: 100px;
  }

  .pb-md-1 {
    padding-bottom: 5px;
  }

  .pb-md-2 {
    padding-bottom: 10px;
  }

  .pb-md-3 {
    padding-bottom: 15px;
  }

  .pb-md-4 {
    padding-bottom: 20px;
  }

  .pb-md-5 {
    padding-bottom: 25px;
  }

  .pb-md-6 {
    padding-bottom: 30px;
  }

  .pb-md-7 {
    padding-bottom: 35px;
  }

  .pb-md-8 {
    padding-bottom: 40px;
  }

  .pb-md-9 {
    padding-bottom: 45px;
  }

  .pb-md-10 {
    padding-bottom: 50px;
  }

  .pb-md-11 {
    padding-bottom: 55px;
  }

  .pb-md-12 {
    padding-bottom: 60px;
  }

  .pb-md-13 {
    padding-bottom: 65px;
  }

  .pb-md-14 {
    padding-bottom: 70px;
  }

  .pb-md-15 {
    padding-bottom: 75px;
  }

  .pb-md-16 {
    padding-bottom: 80px;
  }

  .pb-md-17 {
    padding-bottom: 85px;
  }

  .pb-md-18 {
    padding-bottom: 90px;
  }

  .pb-md-19 {
    padding-bottom: 95px;
  }

  .pb-md-20 {
    padding-bottom: 100px;
  }

  .pl-md-1 {
    padding-left: 5px;
  }

  .pl-md-2 {
    padding-left: 10px;
  }

  .pl-md-3 {
    padding-left: 15px;
  }

  .pl-md-4 {
    padding-left: 20px;
  }

  .pl-md-5 {
    padding-left: 25px;
  }

  .pl-md-6 {
    padding-left: 30px;
  }

  .pl-md-7 {
    padding-left: 35px;
  }

  .pl-md-8 {
    padding-left: 40px;
  }

  .pl-md-9 {
    padding-left: 45px;
  }

  .pl-md-10 {
    padding-left: 50px;
  }

  .pl-md-11 {
    padding-left: 55px;
  }

  .pl-md-12 {
    padding-left: 60px;
  }

  .pl-md-13 {
    padding-left: 65px;
  }

  .pl-md-14 {
    padding-left: 70px;
  }

  .pl-md-15 {
    padding-left: 75px;
  }

  .pl-md-16 {
    padding-left: 80px;
  }

  .pl-md-17 {
    padding-left: 85px;
  }

  .pl-md-18 {
    padding-left: 90px;
  }

  .pl-md-19 {
    padding-left: 95px;
  }

  .pl-md-20 {
    padding-left: 100px;
  }
}
@media only screen and (min-width: 1440px) {
  .mt-lg-1 {
    margin-top: 5px;
  }

  .mt-lg-2 {
    margin-top: 10px;
  }

  .mt-lg-3 {
    margin-top: 15px;
  }

  .mt-lg-4 {
    margin-top: 20px;
  }

  .mt-lg-5 {
    margin-top: 25px;
  }

  .mt-lg-6 {
    margin-top: 30px;
  }

  .mt-lg-7 {
    margin-top: 35px;
  }

  .mt-lg-8 {
    margin-top: 40px;
  }

  .mt-lg-9 {
    margin-top: 45px;
  }

  .mt-lg-10 {
    margin-top: 50px;
  }

  .mt-lg-11 {
    margin-top: 55px;
  }

  .mt-lg-12 {
    margin-top: 60px;
  }

  .mt-lg-13 {
    margin-top: 65px;
  }

  .mt-lg-14 {
    margin-top: 70px;
  }

  .mt-lg-15 {
    margin-top: 75px;
  }

  .mt-lg-16 {
    margin-top: 80px;
  }

  .mt-lg-17 {
    margin-top: 85px;
  }

  .mt-lg-18 {
    margin-top: 90px;
  }

  .mt-lg-19 {
    margin-top: 95px;
  }

  .mt-lg-20 {
    margin-top: 100px;
  }

  .mr-lg-1 {
    margin-right: 5px;
  }

  .mr-lg-2 {
    margin-right: 10px;
  }

  .mr-lg-3 {
    margin-right: 15px;
  }

  .mr-lg-4 {
    margin-right: 20px;
  }

  .mr-lg-5 {
    margin-right: 25px;
  }

  .mr-lg-6 {
    margin-right: 30px;
  }

  .mr-lg-7 {
    margin-right: 35px;
  }

  .mr-lg-8 {
    margin-right: 40px;
  }

  .mr-lg-9 {
    margin-right: 45px;
  }

  .mr-lg-10 {
    margin-right: 50px;
  }

  .mr-lg-11 {
    margin-right: 55px;
  }

  .mr-lg-12 {
    margin-right: 60px;
  }

  .mr-lg-13 {
    margin-right: 65px;
  }

  .mr-lg-14 {
    margin-right: 70px;
  }

  .mr-lg-15 {
    margin-right: 75px;
  }

  .mr-lg-16 {
    margin-right: 80px;
  }

  .mr-lg-17 {
    margin-right: 85px;
  }

  .mr-lg-18 {
    margin-right: 90px;
  }

  .mr-lg-19 {
    margin-right: 95px;
  }

  .mr-lg-20 {
    margin-right: 100px;
  }

  .mb-lg-1 {
    margin-bottom: 5px;
  }

  .mb-lg-2 {
    margin-bottom: 10px;
  }

  .mb-lg-3 {
    margin-bottom: 15px;
  }

  .mb-lg-4 {
    margin-bottom: 20px;
  }

  .mb-lg-5 {
    margin-bottom: 25px;
  }

  .mb-lg-6 {
    margin-bottom: 30px;
  }

  .mb-lg-7 {
    margin-bottom: 35px;
  }

  .mb-lg-8 {
    margin-bottom: 40px;
  }

  .mb-lg-9 {
    margin-bottom: 45px;
  }

  .mb-lg-10 {
    margin-bottom: 50px;
  }

  .mb-lg-11 {
    margin-bottom: 55px;
  }

  .mb-lg-12 {
    margin-bottom: 60px;
  }

  .mb-lg-13 {
    margin-bottom: 65px;
  }

  .mb-lg-14 {
    margin-bottom: 70px;
  }

  .mb-lg-15 {
    margin-bottom: 75px;
  }

  .mb-lg-16 {
    margin-bottom: 80px;
  }

  .mb-lg-17 {
    margin-bottom: 85px;
  }

  .mb-lg-18 {
    margin-bottom: 90px;
  }

  .mb-lg-19 {
    margin-bottom: 95px;
  }

  .mb-lg-20 {
    margin-bottom: 100px;
  }

  .ml-lg-1 {
    margin-left: 5px;
  }

  .ml-lg-2 {
    margin-left: 10px;
  }

  .ml-lg-3 {
    margin-left: 15px;
  }

  .ml-lg-4 {
    margin-left: 20px;
  }

  .ml-lg-5 {
    margin-left: 25px;
  }

  .ml-lg-6 {
    margin-left: 30px;
  }

  .ml-lg-7 {
    margin-left: 35px;
  }

  .ml-lg-8 {
    margin-left: 40px;
  }

  .ml-lg-9 {
    margin-left: 45px;
  }

  .ml-lg-10 {
    margin-left: 50px;
  }

  .ml-lg-11 {
    margin-left: 55px;
  }

  .ml-lg-12 {
    margin-left: 60px;
  }

  .ml-lg-13 {
    margin-left: 65px;
  }

  .ml-lg-14 {
    margin-left: 70px;
  }

  .ml-lg-15 {
    margin-left: 75px;
  }

  .ml-lg-16 {
    margin-left: 80px;
  }

  .ml-lg-17 {
    margin-left: 85px;
  }

  .ml-lg-18 {
    margin-left: 90px;
  }

  .ml-lg-19 {
    margin-left: 95px;
  }

  .ml-lg-20 {
    margin-left: 100px;
  }

  .pt-lg-1 {
    padding-top: 5px;
  }

  .pt-lg-2 {
    padding-top: 10px;
  }

  .pt-lg-3 {
    padding-top: 15px;
  }

  .pt-lg-4 {
    padding-top: 20px;
  }

  .pt-lg-5 {
    padding-top: 25px;
  }

  .pt-lg-6 {
    padding-top: 30px;
  }

  .pt-lg-7 {
    padding-top: 35px;
  }

  .pt-lg-8 {
    padding-top: 40px;
  }

  .pt-lg-9 {
    padding-top: 45px;
  }

  .pt-lg-10 {
    padding-top: 50px;
  }

  .pt-lg-11 {
    padding-top: 55px;
  }

  .pt-lg-12 {
    padding-top: 60px;
  }

  .pt-lg-13 {
    padding-top: 65px;
  }

  .pt-lg-14 {
    padding-top: 70px;
  }

  .pt-lg-15 {
    padding-top: 75px;
  }

  .pt-lg-16 {
    padding-top: 80px;
  }

  .pt-lg-17 {
    padding-top: 85px;
  }

  .pt-lg-18 {
    padding-top: 90px;
  }

  .pt-lg-19 {
    padding-top: 95px;
  }

  .pt-lg-20 {
    padding-top: 100px;
  }

  .pr-lg-1 {
    padding-right: 5px;
  }

  .pr-lg-2 {
    padding-right: 10px;
  }

  .pr-lg-3 {
    padding-right: 15px;
  }

  .pr-lg-4 {
    padding-right: 20px;
  }

  .pr-lg-5 {
    padding-right: 25px;
  }

  .pr-lg-6 {
    padding-right: 30px;
  }

  .pr-lg-7 {
    padding-right: 35px;
  }

  .pr-lg-8 {
    padding-right: 40px;
  }

  .pr-lg-9 {
    padding-right: 45px;
  }

  .pr-lg-10 {
    padding-right: 50px;
  }

  .pr-lg-11 {
    padding-right: 55px;
  }

  .pr-lg-12 {
    padding-right: 60px;
  }

  .pr-lg-13 {
    padding-right: 65px;
  }

  .pr-lg-14 {
    padding-right: 70px;
  }

  .pr-lg-15 {
    padding-right: 75px;
  }

  .pr-lg-16 {
    padding-right: 80px;
  }

  .pr-lg-17 {
    padding-right: 85px;
  }

  .pr-lg-18 {
    padding-right: 90px;
  }

  .pr-lg-19 {
    padding-right: 95px;
  }

  .pr-lg-20 {
    padding-right: 100px;
  }

  .pb-lg-1 {
    padding-bottom: 5px;
  }

  .pb-lg-2 {
    padding-bottom: 10px;
  }

  .pb-lg-3 {
    padding-bottom: 15px;
  }

  .pb-lg-4 {
    padding-bottom: 20px;
  }

  .pb-lg-5 {
    padding-bottom: 25px;
  }

  .pb-lg-6 {
    padding-bottom: 30px;
  }

  .pb-lg-7 {
    padding-bottom: 35px;
  }

  .pb-lg-8 {
    padding-bottom: 40px;
  }

  .pb-lg-9 {
    padding-bottom: 45px;
  }

  .pb-lg-10 {
    padding-bottom: 50px;
  }

  .pb-lg-11 {
    padding-bottom: 55px;
  }

  .pb-lg-12 {
    padding-bottom: 60px;
  }

  .pb-lg-13 {
    padding-bottom: 65px;
  }

  .pb-lg-14 {
    padding-bottom: 70px;
  }

  .pb-lg-15 {
    padding-bottom: 75px;
  }

  .pb-lg-16 {
    padding-bottom: 80px;
  }

  .pb-lg-17 {
    padding-bottom: 85px;
  }

  .pb-lg-18 {
    padding-bottom: 90px;
  }

  .pb-lg-19 {
    padding-bottom: 95px;
  }

  .pb-lg-20 {
    padding-bottom: 100px;
  }

  .pl-lg-1 {
    padding-left: 5px;
  }

  .pl-lg-2 {
    padding-left: 10px;
  }

  .pl-lg-3 {
    padding-left: 15px;
  }

  .pl-lg-4 {
    padding-left: 20px;
  }

  .pl-lg-5 {
    padding-left: 25px;
  }

  .pl-lg-6 {
    padding-left: 30px;
  }

  .pl-lg-7 {
    padding-left: 35px;
  }

  .pl-lg-8 {
    padding-left: 40px;
  }

  .pl-lg-9 {
    padding-left: 45px;
  }

  .pl-lg-10 {
    padding-left: 50px;
  }

  .pl-lg-11 {
    padding-left: 55px;
  }

  .pl-lg-12 {
    padding-left: 60px;
  }

  .pl-lg-13 {
    padding-left: 65px;
  }

  .pl-lg-14 {
    padding-left: 70px;
  }

  .pl-lg-15 {
    padding-left: 75px;
  }

  .pl-lg-16 {
    padding-left: 80px;
  }

  .pl-lg-17 {
    padding-left: 85px;
  }

  .pl-lg-18 {
    padding-left: 90px;
  }

  .pl-lg-19 {
    padding-left: 95px;
  }

  .pl-lg-20 {
    padding-left: 100px;
  }
}
