.indice {
  margin: 0 auto;
  &__title {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #b81e6c;
    font-weight: 600;
    font-size: 37.5px;
    text-transform: capitalize;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    &:not(pre) > code {
      font-size: 16px;
      color: #dd5a6f;
      white-space: nowrap;
      font-weight: normal;
    }
  }

  pre > code {
    font-size: 13px;
  }
}
