/// Color variables defined in the .frontech.json file
///@group colors
:root{
--secondary_3:#cbdf90;
--secondary_2:#8fad88;
--secondary_1:#7f9c96;
--primary_3:#9bc1db;
--primary_2:#1483bb;
--primary_1:#006699;
};