/// Dynamically created map based on the configuration file. Define the attributes to create the margin and padding utility classes
/// @type number
/// @group spacing
            $spacing: (
                increase:5,
                limit:20
            );
          